@charset "UTF-8";

body {
    background-color: rgb(208, 244, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bolder;
}

p {
    padding: 5px 5px;
    color: black; 
}

#Login, #Senha {
    border: 2px solid black;
    width: 10rem;
    padding: 0.3rem;
}

button {
    margin: 0.6rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}
